*.class

/_pasted_code_
*/bin
*/.project
*/.settings
*/.classpath
*.metadata
*.recommenders

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

project2/src/util/ExpVisitor.java

*.pdf

*.html

project4/samples/expected_indexes/Boats.E

project4/samples/expected_indexes/Boats.E_humanreadable

project4/samples/expected_indexes/Sailors.A

project4/samples/expected_indexes/Sailors.A_humanreadable

project4/samples/input/db/data/Boats

project4/samples/input/db/data/Boats_humanreadable

project4/samples/input/db/data/Reserves

project4/samples/input/db/data/Reserves_humanreadable

project4/samples/input/db/data/Sailors

project4/samples/input/db/data/Sailors_humanreadable

project4/samples/input/db/index_info.txt

project4/samples/input/db/schema.txt

project4/samples/input/plan_builder_config.txt

project4/samples/input/queries.sql

project4/samples/interpreter_config_file.txt

project4/samples/README

project3/benchmarking/samples/.DS_Store

project3/benchmarking/samples/.DS_Store

project3/benchmarking/samples/.DS_Store

project3/benchmarking/samples/.DS_Store

project3/benchmarking/samples/.DS_Store

project3/benchmarking/samples/.DS_Store

project3/benchmarking/samples/input/.DS_Store

project3/benchmarking/samples/temp/db11def2/final
